.h3{
	color: crimson;
}
.labeler{
  color: crimson;
  font-style: Tahoma;
  font-size: 100%;
}
.inputer{
  width: 80%;
  border-radius: 20px;
  height: auto;
  font-size: 100%;
  margin-left: 10%;
}
.button{
  border-radius: 30px;
  width: 80%;
  height: auto;
  margin-left: 10%;
  background-color:  crimson;
}
body
{
	background: url(28.jpg) no-repeat;
	background-size: 100%;
}
#CenterBlock{
		border-radius:40px;
        width: 20%;
        height:280px;
        background:radial-gradient(circle at 65% 15%, aqua, darkblue);
				position:absolute;
				top:5%;
        left:40%;
        margin:0 0 0 0;
    }
