/*
body {
  margin: 0;
}
canvas {
        width: auto;
        height: auto;
		margin-right: auto;
		margin-left: auto;
		display: block;
}
button{
		margin-right: auto;
		margin-left: auto;
		display: block;
		font-family: Arial,Helvetica,sans-serif;
		font-size: 100px;
	}
*/